VITE_ENV=production # or development
VITE_BASE_URL=https://homedy.chardy.dev # base url
VITE_BACKEND_URL=https://api.homedy.chardy.dev # server url
VITE_BACKEND_PROXY=http://192.168.1.10:8080/api # dev only
