@layer base {
  * {
    border-color: var(--color-border-sub);
    box-sizing: border-box;
  }

  body {
    background-color: var(--color-color-base);
    color: var(--color-fg);
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
  }

  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    background: var(--color-card);
  }

  ::-webkit-scrollbar-thumb {
    background: var(--color-border-sub);
    border-radius: 3px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--color-border-hover);
  }

  .scrollbar-left {
    direction: rtl;
  }

  .scrollbar-left > * {
    direction: ltr;
  }

  ::selection {
    background-color: var(--color-fg);
    color: var(--color-base);
  }

  input[type="search"]::-webkit-search-cancel-button {
    display: none;
  }

  input[type="search"]::-ms-clear {
    display: none;
  }
}
